*, *:after, *:before {margin: 0; padding: 0;}

html {
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 2em;
    max-width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    position: relative;
}

/* Navigation begins */

header {
    position: fixed;
    font-weight: 700;
    padding: 2.5em 0 1.5em 0;
    background-color: #ffffff;
    width: 100%;
    text-align: right;
}

header ul {
    margin: 0 5.5em 0 0;
}

header ul li {
    padding: 0 2.5em;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

header ul li:hover {
    text-decoration: underline;
}

/* Navigation ends */

/* Typography begins */

h1, h2, h3, h4, h5 {
    color: #414141;
    font-weight: 700;
    line-height: 1em;
}

h1 {
   font-size: 3em;
}

h2 {
   font-size: 2.5em;
}

h3 {
   font-size: 2em;
}

h4 {
   font-size: 1.5em;
}

h5 {
   font-size: 1em;
}

b, strong {
    font-weight: 700;
}

em {
    font-style: oblique;
}

a {
    color: #545454;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.tk-cooper-black-std {
    font: 'cooper-black-std', serif;
}

.tk-letter-gothic-std {
    font: 'letter-gothic-std' sans-serif;
}

.tk-neuzeit-grotesk {
    font: 'neuzeit-grotesk', sans-serif;
}

/* Typography ends */

/* Colours styles begin */

.white {
    color: #ffffff;
}

.charcoal {
    color: #545454;
}

.grey {
    color: #c6c6c6;
}

/* Colours styles end */

.left {
    display: block;
}

.right {
    display: block;
}

/* Sections begin */

.hero {
    background-color: #393939;
    padding: 1em;
}

.about {
    margin-top: 1em;
    background-color: #c9dde2;
}

.work {
    margin-top: 1em;
    background-color: #ededed;
    color: #525252;
}

.work ul {
    list-style-type: none;
    padding: 2em 0;
}

.work ul li {
    padding: 2em 0;
}

.contact {
    margin-top: 1em;
    padding: 2em;
    background-color: #313131;
    color: #525252;
}

.contact ul li {
    list-style: none;
}

/* Sections end */

